<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <a th:href="@{/list}">volver</a>
    <div>
        <form th:action="@{/form}" method="post" th:object="${product}" enctype="multipart/form-data">
            <input th:if="${product.id != null}" type="hidden" th:field="*{id}">
            <input th:if="${product.photo != null}" type="hidden" th:field="*{photo}">
            <div>
                <label for="name">Nombre</label>
                <div>
                    <input type="text" th:field="*{name}">
                </div>
                <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
            </div>
            <div>
                <label for="price">Precio</label>
                <div>
                    <input type="number" th:field="*{price}">
                </div>
                <small th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></small>
            </div>
            <div>
                <label for="creationDate">Fecha</label>
                <div>
                    <input type="date" th:field="*{creationDate}">
                </div>
            </div>
            <div>
                <label for="category.id">Categoria</label>
                <div>
                    <select th:field="*{category.id}">
                        <option value="">-- seleccionar --</option>
                        <option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                    </select>
                </div>
                <small th:if="${#fields.hasErrors('category.id')}" th:errors="*{category.id}"></small>
            </div>
            <div>
                <label for="file">Foto</label>
                <div>
                    <input type="file" name="file">
                </div>
            </div>
            <div>
                <div>
                    <input type="submit" th:value="${button}">
                </div>
            </div>
        </form>
    </div>
</body>
</html>