<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
</head>
<body>
    <div th:if="${param.error != null}" th:text="${param.error}"></div>
    <div th:if="${param.success != null}" th:text="${param.success}"></div>

    <h1 th:text="${title}"></h1>
    <a th:href="@{/form}">create +</a>
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Fecha</th>
            <th>Categoría</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product: ${products}">
            <td><a th:href="@{/view/} + ${product.id}" th:text="${#strings.abbreviate(product.id, 10)}"></a></td>
            <td th:text="${product.name}"></td>
            <td th:text="${#numbers.formatCurrency(product.price)}"></td>
            <td th:text="${#calendars.format(product.creationDate, 'dd/MM/yyyy')}"></td>
            <td th:text="${product.category.name}"></td>
            <td><a th:href="@{/form/} + ${product.id}">editar</a></td>
            <td><a th:href="@{/delete/} + ${product.id}" onclick="return confirm('Esta seguro que desea eliminar?')">eliminar</a></td>
        </tr>
        </tbody>
    </table>
</body>
</html>