<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <a th:href="@{/list}">volver</a>

    <div>
        <div>
            <img th:if="${product.photo != null && #strings.length(product.photo) > 0}"
                 style="max-width: 25%"
                 th:src="@{/uploads/img/} + ${product.photo}" th:alt="${product.name}">
        </div>
        <ul>
            <li th:text="product.name"></li>
            <li th:text="'Id: ' + ${product.id}"></li>
            <li th:text="'Precio: ' + ${#numbers.formatCurrency(product.price)}"></li>
            <li th:text="'Fecha: ' + ${#calendars.format(product.creationDate, 'dd/MM/yyyy')}"></li>
        </ul>
    </div>
</body>
</html>