<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luna.springdemo.es.mapper.ArticleMapper">

    <resultMap type="com.luna.springdemo.es.entity.Article" id="ArticleMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="getByPrimaryKey" resultMap="ArticleMap">
        select
          id, name, title, content
        from article
        where id = #{id}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="getAll" resultMap="ArticleMap">
        select
          id, name, title, content
        from article
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="content != null and content != ''">
                and content = #{content}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into article
        (
            <if test="name != null and name != ''">
                name,
            </if>
            <if test="title != null and title != ''">
                title,
            </if>
            <if test="content != null and content != ''">
                content            </if>
        )
        values (
            <if test="name != null and name != ''">
            #{name},
            </if>
            <if test="title != null and title != ''">
            #{title},
            </if>
            <if test="content != null and content != ''">
            #{content}            </if>
        )
    </insert>

    <!--通过主键修改数据-->
    <update id="updateByPrimaryKey">
        update article
        <set>
            <if test="name != null and name != ''">
                name = #{name} ,
            </if>
            <if test="title != null and title != ''">
                title = #{title} ,
            </if>
            <if test="content != null and content != ''">
                content = #{content}             </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteByPrimaryKey">
        delete from article where id = #{id}
    </delete>

</mapper>